.message {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
}

.outgoing {
    border: 2px solid darkgrey;
    background-color: lightgrey;
}

.incoming {
    border: 2px solid lightgray;
    background-color: Lavender;
}

.row {
    margin: 10px 0;
}

.username {
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.outgoing > .row > .username {
    color: darkblue;
}

.incoming > .row > .username {
    color: darkgreen;
}

.time-right {
    float: right;
    font-style: italic;
    color: darkgoldenrod;
}

.message::after {
    content: "";
    clear: both;
    display: table;
}
